.newsletter {
  div {
    box-sizing: border-box;
  }

  .title {
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: "Work Sans";
    font-weight: 500; //Medium
    font-size: 30px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
    margin-bottom: 30px;
  }

  .subtitle {
    margin-top: 50px;
    font-family: "Work Sans";
    font-weight: 300; //Light
    font-size: 24px;
    color: #FFFFFF;
    line-height: 24px;
  }

  .text {
    margin: 15px 0 0;
    font-family: "Work Sans";
    font-weight: 300; //Light
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px;
    text-align: justify;
    text-justify: inter-word;
  }

  .wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(-45deg, #7FC2C6 0%, #2E8B87 28%, #2C8784 35%, #2C8683 39%, #185A66 71%, #0E4356 100%);
  }

  .content {
    margin: 120px 80px 0;
    display: flex;
    align-items: center;

    #resp-title {
      display: none;
    }

    &__text {
      margin-top: 60px;
      z-index: 1;
      max-width: 40%;
      padding: 0 5% 0 0;
      min-width: 400px;
    }

    &__image {
      margin-top: 10%;
      max-width: 60%;
    }
  }

  .form-1,
  .form-2 {
    .form {
      margin: 20px 80px;

      ::placeholder {
        color: white;
        opacity: 0.59;
      }

      &__email {
        // text
        font-family: "Work Sans";
        font-weight: 300; //Light
        font-size: 16px;
        color: #FFFFFF;
        border-radius: 100px;
        padding: 12px 80px 12px 20px;
        border-width: 0;
        background: rgba(220,220,220,0.41);
        border-radius: 100px;
      }

      &__submit {
        // text
        text-transform: uppercase;
        font-family: "Work Sans";
        font-weight: 300; //Light
        font-size: 16px;
        color: #FFFFFF;
        // body
        margin-left: -80px;
        border-radius: 100px;
        padding: 12px 40px;
        border-width: 0;
        background-image: linear-gradient(-90deg, #F16054 0%, #F3805E 100%);
        border-radius: 100px;
      }
    }
  }

  .form-2 {
    display: none;
  }
  @media screen and (max-width: 930px) {
    .title {
      font-size: 28 px;
    }

    .subtitle {
      font-size: 22 px;
    }

    .text {
      font-size: 14 px;
    }

    .content {
      margin: 120px 40px 0 50px;

      &__text {
        max-width: 30%;
      }

      &__image {
        max-width: 70%;
      }
    }

    .form-1 {
      .form {
        margin: 20px 50px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    .content {
      flex-direction: column;
      margin: 120px 50px 0;

      #resp-title {
        display: block;
        align-self: flex-end;
        margin-top: 70px;
      }

      &__text {
        order: 3;
        max-width: 100%;
        min-width: 200px;
        margin-top: 30px;
        padding: 0;

        .title {
          display: none;
        }
      }

      &__image {
        order: 1;
        max-width: 100%;
      }
    }

    .form-1 {
      display: none;
    }

    .form-2 {
      order: 2;
      display: block;

      .form {
        margin: 0;
      }
    }
  }
  @media screen and (max-width: 480px) {
    .form-2 {
      .form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &__email {
          font-size: 14px;
          padding: 12px 70px 12px 20px;
          width: 120px;
          margin: 10px 0;
        }

        &__submit {
          font-size: 14px;
          padding: 12px 25px;
          margin: 10px 0 10px -70px;
        }
      }
    }
  }
  @media screen and (max-width: 369px) {
    .content {
      margin: 90px 30px 0;
    }
  }
}
